# copyright Utrecht University
# openssl req config used to generate the self-signed dev certificate.
[ req ]
default_bits        = 4096
default_md          = sha256
prompt              = no
encrypt_key         = no
distinguished_name  = dn
req_extensions      = req_ext

[ dn ]
CN = PALEO_HOST
C  = NL
O  = Paleo Earth
OU = Utrecht University
L  = Utrecht

# Modern browsers require a SAN to accept a certificate 
[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = PALEO_HOST
