# copyright Utrecht University
# {{ ansible_managed }}
[Unit]
Description=Paleo Earth reverse proxy
# Docker service requires network up
After=network.target docker.service
# If docker dies, paleo-proxy dies
Requires=docker.service

[Service]
User={{ paleo_user }}
Group={{ paleo_user }}
WorkingDirectory=/home/{{ paleo_user }}/paleo-ansible/docker/proxy
ExecStart=/usr/bin/docker compose up --no-color
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target
